.Savedqueries {
    width: 15%;
    height: 80%;
    background-color: lightgrey;
    border: 1px solid;
    margin-left: 2%;
    margin-right: 4%;
    border-radius: 20px;
}

.Savedqueries li {
    list-style-type: none;
}
